* {
  margin: 0;
  padding: 0;
}

.header-background {
  position: relative;
  background: linear-gradient(#5bfbf3, #1d69f2);
  height: 18rem;
  overflow: hidden;
}

.header-background-image {
  position: absolute;
  animation: flowers 20s ease infinite alternate;
}

@keyframes flowers {
  from {
    transform: translateY(-2rem) rotate(0deg) scale(0.95);
  }

  to {
    transform: translateY(2rem) rotate(180deg) scale(1);
  }
}
