.main {
  margin: 7rem 2rem;
  max-width: 1200px;

  @media (min-width: 1264px) {
    margin: 7rem auto;
  }

  &-cards {
    display: grid;
    margin-top: 2rem;
    gap: 2rem;
    grid-auto-rows: 1fr;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
