@use "../abstracts/transitions" as *;

.card {
  background-color: #009ddc;
  border-radius: 1rem;

  @include hover-scale(1.02);

  &-image > img {
    width: 100%;
    border-radius: 1rem;
  }

  &-text {
    padding: 2rem 1.5rem;
  }

  &-heading {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  &-heading,
  &-description {
    color: #fff;
  }
}
